body {
    background: #0f1823;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    font-family: Arial, sans-serif;
}

/* The main card */
.card {
    background: #182430;
    width: 500px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    color: white;
}

/* Title styling */
.card h1 {
    font-size: 32px;
    margin: 0;
    line-height: 1.2;
}

.card h1 span {
    color: #2ed47a;       /* green text */
    font-weight: 700;
}

/* Subtitle */
.card p {
    opacity: 0.7;
    margin-bottom: 25px;
}

/* Button */
 .btn {
    background: #28c76f;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

/* Divider line */
.divider {
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.15);
    margin-bottom: 30px;
}

/* Password boxes */
.password-boxes {
    display: flex;
    gap: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.boxOne {
    flex: 1;
    height: 50px;
    background: #1f2c3b;
    border-radius: 10px;
}

.boxTwo {
    flex: 1;
    height: 50px;
    background: #1f2c3b;
    border-radius: 10px;
}
